#container{
    /* background-color: rgb(128, 128, 128); */
    margin:100px;
    overflow: hidden; /* this prevents children divs from collapsing */
    height: auto;
}

/* padding between divs */
#search, #plus, #create  { 
    padding: 20px;
}

#search button, #plus button, #create button {
    font-size: 150%;
    color:white;
    border: 2px solid;
}

#search button{
    width: 200px;
    height: 50px;
    color:darkcyan;
    background-color: ghostwhite;
    border-color: darkcyan;
    border-radius: 75px;
    padding: 0px 50px;
}

#plus button {
    background-color: aquamarine;
    font-size:300%;
    border: transparent;
    border-radius: 50%;
    padding: 0px 15px;
}

#create button {
    background-color: royalblue;
    border-color: black;
    box-shadow: 5px 5px black;
    padding: 10px 25px;
}