* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: ghostwhite;
}

body {
    background-color: #aaaaaa;
    padding: 20px;
}

div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin-bottom:20px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.darksilver {
    height: 240px;
    background-color: #5d5d5d;
    align-items: center;
}

.green{
    height:250px;
    background-color: #2a623d;
    align-items: center;
}

.darkgreen {
    height: 250px;
    background-color: #1a472a;
    align-items: center;
}

p{
    text-align: center;
}
