/* asterik * general selector that grabs everything on the screen */
/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Two things to identify to use CSS
ONE: What are we affecting?
we are affecting an h1 tag
TWO: What are we doing to it
we are changing the h1 text color to green

*/

h1 {
/* Within these curly braces are all the changes I will appy to h1*/
    color:darkolivegreen;
    text-align: center;
    font-size: 50px;
    margin: 15px;
}

p {
    background-color: aquamarine;
    padding: 10px;
}

/* use a period . for classes 
    Classes can be repeatedly used */
.notgreen { 
    background-color: white;
}


/* use a # for id's 
ID's should only be used for 1 element 
strongest selector of all selector
nothing will be able to override it
tag < class < id */
#mytable {
    background-color: orange;
}

.italics{
    font-style: italic;
}

ol {
    padding-left: 40px;
}

td {
    padding: 10px;
}

.about {
    width: 800px;
    display:inline-block;
    margin: 20px;
    vertical-align: top;
}

img {
    margin-left: 20px;
}