* {
    margin: 0px;
    padding: 0px;
    font-family:  Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
}
.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navleft {
    width: 60%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.navleft h1{
    margin-left: 30px;
    color: ghostwhite;
}
.navlinks {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.navlinks li, .navlinks a {
    margin-left: 15px;
    text-decoration: none;
    color: ghostwhite;
    opacity: 0.75;
}

.navlinks a:hover{
    opacity: 1;
}

.navright {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navright button {
    width: 150px;
    height: 50px;
    margin-right: 30px;
    padding: 5px 10px;
    background-color: rgb(56, 56, 56);
    color: ghostwhite;
    box-shadow: 2px 2px black;
    font-size: 25px;
    border-radius: 5px;
}

.navright button:hover {
    margin-right: 30px;
    padding: 5px 10px;
    background-color: lightgray;
    color: black;
}

.main {
    width: 100%;
    height: 1200px;
    display:flex;
    justify-content: center;
}

.mainleft {
    flex:2;
    height: 1000px;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.usercard{
    background-color: ghostwhite;
    width: 90%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey ;
}

.banner {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.bannerimage, .bannerimage img{
    width: 100%;
    height: 150px;
    object-fit: cover;  /* used to prevent images from becoming distortoed */
    border-radius: 5px 5px 0px 0px;
}

.profilepicture {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    left: 5%;
}

.profilepicture img{
    width: 100%;
    border: 2px solid ghostwhite;
    border-radius: 50%;
}

.description {
    width: 90%;
    height: 175px;
}

.locationbox {
    display: flex;
    margin: 20px;
    align-items: center;
}

.locationbox img { 
    width: 15px;
}

.locationbox h3 {
    margin-left: 10px;
}

.description p {
    margin: 10px;
}

.editprofilebox{
    display: flex;
    align-items: center;
    color: blue;
    text-decoration: underline;
}

.editprofilebox img {
    width: 20px;
    margin: 10px;
}

.positions{
    background-color: ghostwhite;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey ;
}

.positionheader, .requestheader, .connecionsheader {
    background-color: rgb(56, 56, 56);
    color: ghostwhite;
    width: 100%;
    height: 75px;
    display: flex;              
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.textbox {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.textbox h2, .textbox p {
    margin: 5px 0px;
}

.mainright {
    flex: 1;
    height: 1000px;
    margin: 15px;
}

.requestcard, .connections {
    background-color: ghostwhite;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px grey ;
}

.requestcard{
    height: auto;    
}

.requestheader h1, .requestheader h2{
    color: ghostwhite;
    margin-left: 5px;
}
.requestheader .number {
    margin: 0px;
    background-color: grey;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

.request{ 
    justify-content: left;
    height: 80px;
}

.request, .request .left, .request .right{
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
}

.request h1 {
    margin: 0px;
    color: black;
}
.request .left {
    width: 80%;
}

.request .right {
    width: 20%;
}

.request .right img {
    margin: 5px;
    width: 50px;
    height: 50px;
}

.friends {
    width: 80px;
    height: 80px;
    object-fit: cover;

}
.connections{
    height: auto;
}

.friends {
    border-radius: 50%;
    margin: 0px 30px;

}
